<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('FNI')" data-ng-class="{active: currency.symbol == 'FNI'}">FNI</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mFNI')" data-ng-class="{active: currency.symbol == 'mFNI'}">mFNI</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uFNI')" data-ng-class="{active: currency.symbol == 'uFNI'}">uFNI</a>
  </li>
</ul>

